# Example env file for local development
DB_HOST=db
DB_NAME=clash_royale
DB_USER=usuarioGCalvo
DB_PASS=GabrielCalvo@2006
MYSQL_ROOT_PASSWORD=GabrielCalvo@2006

# valores para la actualización de DDNS
# copia este fichero a .env y ajusta las credenciales de ddns.net/no-ip
DDNS_USER=5x6pghz
DDNS_PASS=tLSmVYmY8sFA
DDNS_HOST=clashroyale-gaca.ddns.net
